[user]
    name = sjw1980
    email = sjw1980@hotmail.com

[core]
    editor = code --wait
    autocrlf = true

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    lg = log --oneline --graph --all

[push]
    default = simple

[init]
    defaultBranch = main